{% extends 'templates/base.html' %}
{% block title %}Login{% endblock %}
{% block body %}
            <form method="post">
                <input type="text" name="username" placeholder="Username/Email" required autofocus autocomplete="nickname">
                <input type="password" name="password" placeholder="Password" required>
                <input type="submit" value="Login">
            </form>
            <script type="module">
                document.querySelector("form").addEventListener("submit", async e=>{
                    e.preventDefault();
                    const data = await fetch(window.location.href, {
                        method: "POST",
                        body: JSON.stringify(Object.fromEntries(new FormData(e.target).entries()))
                    });
                    console.log(await data.json());
                });
            </script>
{% endblock %}