{% extends 'templates/base.html' %}
{% block title %}Register{% endblock %}
{% block body %}
            <form method="post">
                <input type="text" name="username" placeholder="Username" required autofocus autocomplete="username">
                <input type="email" name="email" placeholder="Email (optional)" autocomplete="email">
                <input type="password" name="password" placeholder="Password" required>
                <input type="password" name="confirm" placeholder="Confirm Your Password" required>
                <input type="submit" value="Create Account">
            </form>
            <script type="module">
                document.querySelector("form").addEventListener("submit", async e=>{
                    e.preventDefault();
                    const data = await fetch(window.location.href, {
                        method: "POST",
                        body: JSON.stringify(Object.fromEntries(new FormData(e.target).entries()))
                    });
                    console.log(await data.json())
                })
                
                /*socket.on("register", rdata=>{
                    console.log(rdata)
                    switch(rdata.error){
                        case 1: alert("Your passwords don't match!")
                        case 2: alert("That username/email has already been used!")
                        case 3: alert("You need to fill out username and password, stop trying to break the app!")
                        case null: window.location.href = '/'
                    }
                })*/
            </script>
{% endblock %}