{% extends 'templates/base.html' %}
{% block title %}Register{% endblock %}
{% block body %}
            <form method="post">
                <input type="text" name="username" placeholder="Username" required autofocus autocomplete="nickname">
                <input type="email" name="email" placeholder="Email (optional)" autocomplete="email">
                <input type="password" name="password" placeholder="Password" required>
                <input type="password" name="confirm" placeholder="Confirm Your Password" required>
                <input type="submit" value="Create Account">
            </form>
            <script type="module">
                import {io} from "{{ url_for('static', filename='socket.io.esm.min.js') }}";
                const socket = io(window.location.href, {transports: ['websocket']});

                document.querySelector("form").addEventListener("submit", e=>{
                    e.preventDefault();
                    socket.emit("register", Object.fromEntries(new FormData(e.target).entries()));
                })
                
                socket.on("register", rdata=>{
                    console.log(rdata)
                })
            </script>
{% endblock %}